.nikeproduct_text {
    margin: 0 auto;
    width: 60%;
  }
  
  .nikeproduct_position {
    width: 400px;
    align-items: left;
    top: 0;
    left: 5%;
  }
 
  .featured_position {
    width: 200px;
    align-items: left;
    bottom: 0;
    left: 5%;
    bottom: 7%;
  }

  .featured_left img {
    height: 600px;
    width: 100%;
  }
  
  .featured_right img {
    height: 600px;
    width: 100%;
  }
  
 