.remove {
    border: 1px solid rgb(194, 194, 194);
    width: 25px;
    height: 25px;
    border-right: 0;
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
}

.quality {
    width: 35px;
    height: 25px;
    border: 1px solid rgb(194, 194, 194);
    padding: 0 5px;
}

.add {
    border: 1px solid rgb(194, 194, 194);
    width: 25px;
    height: 25px;
    border-left: 0;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
}